body {
	margin:0px;
	background-color: #30353e;
	line-height: 1;
}



.App {
	font-family: monospace;
	src: url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Source+Code+Pro:500");
	position:absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #30353e;
}

button {
	cursor: pointer;
	background: darkgray;
	border-radius: 5px;
	margin: 0 5px;
}

