/* Editor */
.Editor {
	display: inherit;
	height:100%;
}
.Editor-container {
	position: absolute;
	bottom: 18px;
	left: 0;
	right: 0;
	top: 0px;
}
.Editor-content {
	height:100%;
	position:relative;
}

.CodeMirror {
	border-top:0;
	height:auto;
}

.CodeMirror-selected {
	border: 1px dashed yellow;
}

.VimState {
	position:absolute;
	bottom: 0;
	background: black;
	margin: 0;
	color: #d0d0d0;
	height:19px;
}
