/* Toolbar */
.control-container {
	height: 35px;
}

.div-right {
	display:flex;
	width:fit-content;
	float:right;
}


.div-left button {
	height: 100%;
	background: none;
	border: none;
	outline: none;
	color:white;
	font-size: 1.25em;
}

.div-left button:hover {
	background: rgba(255, 255, 255, .3);
	opacity: .5;
}

.div-left button.Record {
	color: red;
}

.div-left button.CancelRecord {
	color: red;
}

.div-left button.StopRecord {
	color: green;
}

.Select-menu-outer {
	z-index: 10;
}

.div-left{
  float:left;
  padding-left:10px;
	height: 100%;
}
.div-right{
  float:right;
  padding-right:10px;
	height: 100%;
}
.button-tab {
  height:100%;
  line-height:30px;
}
.button-tab li {
  list-style-type:none;
  float:left;
	height: 100%;
}

.button-tab li p {
	background: none;
	color: white;
	display: inline;
}
.div-right li {
  padding-left:10px;
}
ul.button-tab {
    list-style-type:none;
    padding:0px;
    margin:0px;
}

/* Editor */
.Editor {
	display: inherit;
	border-bottom: 2px solid white;
}

.Editor p {
	background: black;
	width: 100%;
	margin: 0;
}

.CodeMirror {
	width: 100%;
	min-height: 60%;
	border-top: 2px solid white;
}

.CodeMirror-selected {
	border: 1px dashed yellow;
}

.VimState {
	color: #d0d0d0;
	min-height:1em;
}
