
/* HEADER */
.Header {
  font-family:monospace, sans-serif;
	background-color: #222;
  padding: 10px 20px;
  color: lightgreen;
	height:80px;
}

.Header h1 {
	font-size: 2rem;
	margin: 0px;
}

.Header p {
	margin: 0px 20px 0px 20px;
}

