.save-backdrop {
	position:absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .4);
	z-index: 10;
}

.save-dialog {
	max-width: 50%;
	margin: auto;
	margin-top: 20%;
	padding: 20px;
	background: white;
	z-index: 15!important;
	position:relative;
	border-radius: 20px;
}

.save-dialog div * {
	margin: 5px;
}

.save-dialog textarea {
	resize: none;
}

.save-dialog p {
	background:none;
	font-size: 1em;
	color: black;
	margin-bottom: 0;
}

.save-dialog > div {
	display: grid;
}
