.TaskBrowser{
	top: 112px;
	margin: 10px;
	color: white;
	position:absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10!important;
	overflow: auto;
	background: transparent;
}

.TaskBrowser h3 {
	margin: auto;
	margin-top: 200px;
	text-align: center;
}

/* TABLE STYLE */

.filterable-table-container > div:first-of-type {
	
}

.filterable-table-container .form-control {
	font-size: .7rem;
}
.filterable-table-container {
	min-width: 800px;
	border-radius: 5px;
	padding: 5px;
}

.filterable-table-container .header-row {
  margin-top: 6px;
}
.filterable-table-container .header-row .exact-filters {
  margin-top: 20px;
}
.filterable-table-container .header-row .record-count {
  padding-top: 7px;
}
.filterable-table-container table.filterable-table thead tr th {
  white-space: nowrap;
  user-select: none;
}
.filterable-table-container table.filterable-table thead tr th span.fa {
  padding-left: 8px;
  color: #000;
}
.filterable-table-container table.filterable-table tfoot tr td {
  font-weight: 700;
}
.filterable-table-container .filter-container {
  position: relative;
}
.filterable-table-container .filter-container .filter-input,
.filterable-table-container .filter-container .page-size {
  width: 185px;
  display: inline;
}
.filterable-table-container .clear-filter {
  position: absolute;
  right: 5px;
  top: -5px;
}
.filterable-table-container span.sortable,
.filterable-table-container span.filterable {
  cursor: pointer;
}
.filterable-table-container span.filterable {
  border-bottom: 1px solid #91c1ff;
}
.filterable-table-container ul.pagination li a {
  user-select: none;
}
.filterable-table-container ul.pagination li:not(.disabled) a {
  cursor: pointer;
}
.filterable-table-container span.empty {
  font-style: italic;
  color: #999;
}

.filterable-table-container button {
	border: 2px solid white;
	background: black;
	color:white;
	border-radius:5px;
}
.filterable-table-container button:hover {
	background: rgba(255, 255, 255, .5);
}
.filterable-table-container button:focus {
	outline:none;
}
.pagination {
	display: inline-block;
}

.pagination.pull-right{
	float:right;
}

.pagination a {
	color: black;
	float: left;
	padding: 2px 4px;
	text-decoration: none;
}
.btn-numbered-page.active {
	background: rgba(255, 255, 255, .5);
	color:white;
}
