.Task {
	background: blue;
	border:none;
	display:flex;
	background: #222222;
	padding: 0px;
	color:white;
	position:relative;
	height:100%;
	max-width: none;
	margin:0;
}

.Task h2 {
	margin: auto;
	text-align:center;
}
.Task p, .Task h3 {
	margin-bottom: 0;
}
.Task-content{
	width:100%;
}
.TaskInfo {
	width:100%;
	position:absolute;
	top:0;
	bottom: 130px;
}

.TaskProgress {
	position:absolute;
	bottom: 0;
	height: 100px;
	left:0;
	right:0;
	width:100%;
}
.TaskInfo .Editor {
	position:relative;
	z-index:0;
}
.TaskProgress textarea {
	position:absolute;
	top:0px;
	bottom:0px;
	color:white;
}
.TaskTitle {
	padding-left: 15px;
}

.TaskTitle button {
	font-size: .7em;
}

/*
.Task button {
	background: none;
	border: none;
	color: white;
}
.Task textarea {
	resize: none;
	width: 100%;
	background: none;
}

.TaskInfo {
	width: 60%;
}

.TaskTitle {
	display: flex;
	height: 30px;
}
.TaskTitle button {
	font-size: 1.4em;
}

.TaskProgress {
	width: 40%;
	position:relative;
}

.TaskProgress textarea {
	position:absolute;
	top:30px;
	bottom:0px;
	color:white;
}

.TaskButtons {
	position:absolute;
	right:5px;
	font-size: 1.5em;
	top:0;
}

.dd-menu-items {
	position:absolute;
	list-style: none;
	background: white;
	color: black;
	font-size: .8em;
	border-radius: 5px;
}

.dd-items-right button {
	color:black;
}

.dd-items-right li:hover {
	background: gray;
}

.dd-items-right {
	list-style: none;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0px;
}
*/
