.VimGolf {
 	padding-top: 30px;
	background-color: #30353e;
	padding-bottom: 100px;
}

.CodePanel .CodeEditor > .CodeMirror {
	height: 600px;
}

.noscroll {
	overflow-y: hidden;
}

.facebook-span {
	position: absolute;
	top: 0;
	right: 0;
	margin: 30px;
	color: white;
	background-color: #3b5998;
	border: 2px solid white;
	border-radius: 20%;
	font-size: 20px;
}

.facebook-span:hover {
	border: 2px solid gray;
}

.facebook-span:active {
	opacity: .8;
}

.main-row {
	max-width: 60%;
	margin: auto;
}

.CodePanel {
	border-radius: 3px;
	margin:auto;
	border: 2px solid white;
}

