.ControlBar {
	display: flow-root;
	font-family: monospace;
}

.Dropdown-control {
	padding: 0px 35px 0px 5px;
	min-width:150px;
}

.Dropdown-arrow {
	top: 40%;
}

.dropDiv {
	margin: 0 5px 0 5px;
	display:flex;
	float:right;
	padding: 5px 0 5px 0;
}

.Record-div {
	float: left;
}

.Control-Button {
	background: rgba(100, 100, 100, 1);
	margin: 3px;
	padding: 3px 6px 3px 6px;
	outline: none;
	border: none;
	border-radius: 3px;
}

.Record {
	color: rgb(200, 0, 0);
}

.Stop-Record {
	color: lightgreen;
}

.Cancel-Record {
	color: pink;
}

.Control-Button:active {
	background: rgba(150, 150, 150, .5);
}

