.Task.main-row {
  margin-top: 10px;
  background: darkseagreen;
  border-radius:5px;
  border: forestgreen 7px solid;
  min-height:150px;
  margin-bottom: 200px;	
  transition: 1s;
  -webkit-transition: 1s;
	-moz-transform: 1s;
	-o-transform: 1s;
	opacity: 1;
	position:relative;
}

.disabled {
	pointer-events: none;
	color: black;
	opacity: .7;
}


.Task-header {
	color:black;
	width:100%;
}

.Task-header h2 {
	padding: 0 50px 0 2px;
	margin: 1px;
	max-height: 24px;
	overflow: hidden;
	font-size: 1.65em;
	font-weight: bold;
}

.Task-header h2 .fa-info-circle {
	font-size: .8em;
	padding-left: 5px;
	vertical-align: text-top;
}

.Task-header .author {
	opacity: .5;
	font-size: .5em
}

.Task-row {
	display: flex;
}

.Task-text p {
	height:25px;
	width:100%;
}

.Task-row .CodeEditor > .CodeMirror {
	max-height: 200px;
	overflow-y: auto;
}

.Task-row textarea {
	margin: 0px;
	padding: 8px;
	outline:none;
	resize:none;
}

.Task-keys {
	background: none;
	border:none;
	width:40%;
	overflow-y: auto;
}

.Task-row .CodeEditor {
	width: 60%;
	height: auto;
}

.Task-code{
	width:100%;
	color:#d0d0d0;
	background: rgb(39, 40, 39);
	height:100%;
}

.Task-row.CodeMirror {
	height: 100%;
	width: 100%;
}

.Task-buttons {
	position:absolute;
	top: 0;
	right:0;
	margin: 2px;
}

.Task-clickable:active {
	background: #494;
	outline:none;
}

.Task-clickable {
	background:none;
	border:none;
	opacity: .4;
	border-radius: 3px;
	z-index: 10;
	outline:none;
	font-size: 1.2em;
}

.Task-clickable:hover {
	opacity: .7;
}


#checkbox8 {
	cursor: inherit;
	padding: 5px;
}

.checkbox label {
	padding: 0;
}

.Task.main-row.Task-complete {
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transform: 1s;
	-o-transform: 1s;
	opacity: 0;
}

